.background {
  padding: 104px 0;
  background-image: url("/assets/img/background.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}
.background .overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  background: #1e3745;
  background: linear-gradient(90deg, #1e3745 0%, rgba(0, 0, 0, 0) 100%);
}

.box {
  display: flex;
  align-items: center;
  justify-content: center;
}
.box .size {
  width: 80%;
  height: 700px;
  background-color: #e9f7fb;
  border: solid #1e3745;
  border-radius: 15px;
}
.box .layout-header {
  width: 100%;
  height: 12%;
  border-radius: 15px;
  border-bottom: 2px solid #1e3745;
  position: center;
}
.box .layout-header h1 {
  text-align: center;
  align-items: center;
}
.box .minibox {
  box-sizing: border-box;
  text-align: justify;
  float: left;
  width: 33.33%;
  padding: 50px;
  height: 20%;
  background-color: #e9f7fb;
  border: 1px solid #1e3745;
  border-radius: 10px;
}
.box .flex-container {
  padding: 5px;
  margin: 0;
  box-sizing: border-box;
  justify-content: space-between;
}
.box .flex-item {
  background: #1e3745;
  padding: 2%;
  width: 25%;
  height: 10%;
  margin-top: 2%;
  margin-left: 5%;
  float: left;
  line-height: 150px;
  color: white;
  font-weight: bold;
  font-size: 3em;
  text-align: center;
}

.wrap {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 600px;
}
.wrap h1 {
  color: #fff;
}
.wrap p {
  margin-top: 8px;
  color: #fff;
}
.wrap .btn {
  margin-top: 40px;
}

.about-us .container {
  flex-direction: column;
  align-items: center;
}
@media (min-width: 992px) {
  .about-us .container {
    flex-direction: row;
    align-items: center;
  }
}
.about-us .wrap {
  display: flex;
  flex-direction: column;
  width: 100%;
}
@media (min-width: 992px) {
  .about-us .wrap {
    margin-right: 80px;
  }
}
.about-us .wrap p {
  margin-top: 8px;
}
.about-us aside {
  max-width: 480px;
  width: 100%;
  display: flex;
  position: relative;
  border-radius: 8px;
  overflow: hidden;
  margin-top: 40px;
}
@media (min-width: 992px) {
  .about-us aside {
    margin-top: 0;
  }
}
.about-us aside img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.about-us aside p {
  font-size: 14px;
  font-size: 0.875rem;
  padding: 8px 16px;
  background-color: #e9f7fb;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 80%;
  border-top-left-radius: 8px;
}