#news .container {
  align-items: center;
  flex-direction: column;
}
#news .row {
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 24px;
}
#news .actuality {
  margin-top: 16px;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 24px 16px;
  border-radius: 16px;
  -webkit-box-shadow: 0 0 24px 0 rgba(40, 174, 212, 0.15);
  -moz-box-shadow: 0 0 24px 0 rgba(40, 174, 212, 0.15);
  box-shadow: 0 0 24px 0 rgba(40, 174, 212, 0.15);
  width: 100%;
}
@media (min-width: 480px) {
  #news .actuality {
    width: calc(50% - 8px);
  }
}
@media (min-width: 992px) {
  #news .actuality {
    width: calc(33.3333333333% - 12px);
  }
}
#news .actuality img {
  height: 160px;
  border-radius: 16px;
}
#news .actuality__name {
  font-weight: 600;
  color: #1e3745;
  font-size: 20px;
  font-size: 1.25rem;
  margin-top: 16px;
}
#news .actuality__text {
  color: #1e3745;
  margin-top: 8px;
  font-size: 14px;
  font-size: 0.875rem;
}
#news .actuality__btn {
  margin-top: 40px;
}