#hero {
  background-image: url("/assets/img/hero.jpg");
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  background: #1e3745;
  background: linear-gradient(90deg, #1e3745 0%, rgba(0, 0, 0, 0) 100%);
}

.wrap {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 600px;
}
.wrap h1 {
  color: #fff;
}
.wrap p {
  margin-top: 8px;
  color: #fff;
}
.wrap .btn {
  margin-top: 40px;
}

.about-us .container {
  flex-direction: column;
  align-items: center;
}
@media (min-width: 992px) {
  .about-us .container {
    flex-direction: row;
    align-items: center;
  }
}
.about-us .wrap {
  display: flex;
  flex-direction: column;
  width: 100%;
}
@media (min-width: 992px) {
  .about-us .wrap {
    margin-right: 80px;
  }
}
.about-us .wrap p {
  margin-top: 8px;
  color: #1e3745;
}