@import "../import.scss";

#hero {
  background-image: url("/assets/img/hero.jpg");
}

#about-us {
  .container {
    flex-direction: column;
    align-items: center;
    @include resp("m") {
      flex-direction: row;
      align-items: center;
    }
  }

  .wrap {
    display: flex;
    flex-direction: column;
    width: 100%;
    @include resp("m") {
      margin-right: 80px;
    }

    p {
      margin-top: 8px;
    }
  }

  aside {
    max-width: 480px;
    width: 100%;
    display: flex;
    position: relative;
    border-radius: 8px;
    overflow: hidden;
    margin-top: 40px;
    @include resp("m") {
      margin-top: 0;
    }

    p {
      @include fontSize(14px);
      padding: 8px 16px;
      background-color: $color-light-blue;
      position: absolute;
      bottom: 0;
      right: 0;
      width: 80%;
      border-top-left-radius: 8px;
    }
  }
}

#doctors {
  .container {
    justify-content: center;
    flex-direction: column;
  }

  .row {
    flex-wrap: wrap;
  }
}